		.jumbotron{
			background-color: #1f7c28;
			color:white; 
		}
		h2{
			text-align: center;
		}
		.panel-default>.panel-heading {
    color: white;
    background-color: #2a6188 !important;
    border-color: #ddd;
		}
		img{
			height: auto;
			float: right;
			margin-top: -46px;
		}